<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{{ path('joueurs.index') }}">Liste des joueurs</a>
  <a class="navbar-brand" href="{{ path('cartes.index') }}">Liste des cartes</a>
  <a class="navbar-brand" href="{{ path('associations.index') }}">Liste des associations carte/joueur</a>
</nav>